doctype html
html(lang="en")
  include view/head.pug
  body
    include view/components/header.pug
    include view/components/info.pug
    include view/components/services.pug
    include view/components/tabSection.pug
    include view/components/aboutInfo.pug
    include view/components/footer.pug
    //- include view/script.pug 