*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'openSans';
  font-weight: 400;
  &::before{
    font-family: 'icons';
  }
}
body{
  max-width: 1440px;
  margin: 0 auto;
}
:root{
  --dark: #383838;
  --black: #0c0c0c;
  --black-gr: radial-gradient(90.2% 90.2% at 32.6% 9.8%, #2A2B2E 0%, #29292C 0.01%, #111215 100%);
  --white: #ffffff;
  --yellow: #F7CEAE;
  --gray: #676767;
  --gray-text: #668CAD;
  --dark-yellow: #C08A20;
  --tapBtn: #92A0AD;
  --blue: #69B9FF;
}
$tapBtn: var(--tapBtn);
$blue: var(--blue);
$dark: var(--dark);
$black: var(--black);
$black-gr: var(--black-gr);
$white: var(--white);
$yellow: var(--yellow);
$gray: var(--gray);
$grayText: var(--gray-text);
$darkyellow: var(--dark-yellow);
$line: var(--line);

.icon{
  // &-phone::before{content: '\f879'; font-weight: 300;}
  // &-user::before{content: '\f007'; font-weight: 300;}
  // &-cart::before{content: '\f07a'; font-weight: 300;}
  // &-chevrone::before{content: '\f077'; font-weight: 300;}
  // &-heart::before{content: '\f004'; font-weight: 300;}
  // &-search::before{content: '\f002'; font-weight: 300;}
  // &-telegram::before{content: '\f3fe'; font-weight: 400;}
  // &-instagram::before{content: '\f16d'; font-weight: 400;}
  &-Facebook::before{content: '\f39e'; font-weight: 400;}
  &-Twitter::before{content: '\f099'; font-weight: 400;}
  &-Pinterest::before{content: '\f231'; font-weight: 400;}
  &-Google::before{content: '\f0d5'; font-weight: 400;}
  &-Webflow::before{content: '\f1ee'; font-weight: 400;}
}
.container{
  @include container();
}
.title{
  @include font(30px, 36px, $gray);
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 17px;
}
.suptitle{
  @include font(17px, 20px, $grayText);
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}
@include media (480px){
  .suptitle{
      @include font(13px, 14px);
  }
}
.more{
  padding: 10px 30px 12px;
  margin: 0 10px;
  border: 1px solid $white;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  @include font(16px, 21px, $white, 400);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.more:hover{
  background-color: $blue;
}
