.navbar__flex{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navbar__logo{
        @include font(25px, 25px, $blue, 400);
        text-transform: uppercase;
        letter-spacing: 4px;
        margin-bottom: 16px;
        margin-left: 10px;
    }
    .navbar__menu{
        min-width: 400px;
        .navbar__menu--top{
            display: flex;
            justify-content: space-around;
            align-items: center;
            li{
                padding: 20px 0;
                a{
                    padding: 0 30px;    
                    @include font(15px, 20px, $gray, 400);
                }
                :hover{
                    color: $blue;
                }
            }
        }
    }
    @include media (768px){
        .navbar__menu{
            display: none;
        }
    }
    .navbar__menu--burger{
        width: 30px;
        height: 30px;
        background-color: $blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        border: none;
        margin: 16px 10px 16px 0;
        cursor: pointer;
        span{
            width: 20px;
            height: 3px;
            background-color: #fff;
            margin-bottom: 3px;
        }
        span:last-child{
            margin-bottom: 0;
        }
    }
    .navbar__menu--burger.close{
        display: none;
    }
    @include media (768px){
        .navbar__menu--burger.close, span{
            display:   flex;
        }
    }
}
.header__flex{
    min-height: 595px;
    background-image: url(..//../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 75px;
    .header__title{
        @include font(59px, 60px, $white, 400);
        letter-spacing: 4px;
        text-transform: uppercase;
        margin-top: 180px;
        margin-bottom: 108px;
    }
    @include media (768px){
        .header__title{
            @include font(45px, 46px);
        }
    }
    @include media (480px){
        .header__title{
            @include font(28px, 29px);
        }
    }
    @include media (320px){
        .header__title{
            @include font(22px, 25px);
        }
    }
}
@include media (480px){
    .header__nav{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .header__btn--left,
    .header__btn--right{
        margin-bottom: 10px;
    }
}