section.info
    h2.title what we do
    h4.suptitle This is some text inside of a div block.
    .info__flex.info__cards
        .info__cards--item
            img.card__img(src="../images/clock.png", alt="")
            h4.card__title Graphic Design
            p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
        .info__cards--item
            img.card__img(src="../images/arrow.png", alt="")
            h4.card__title Awesome code
            p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
        .info__cards--item
            img.card__img(src="../images/mail.png", alt="")
            h4.card__title free template
            p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.