section.services
    h2.title.services__title services
    h4.suptitle.services__suptitle This is some text inside of a div block.
    .services__flex.services__cards
        .services__cards--item
            img.card__img(src="../images/services-img1.jpg", alt="")
            h4.card__title SERVICES one
            p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius.
            button.more.services__more Learn more
        .services__cards--item
            img.card__img(src="../images/services-img2.jpg", alt="")
            h4.card__title SERVICES two
            p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius.
            button.more.services__more Learn more